.Root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-block: 48px;
}

.Btn {
  padding: 8px 12px;
  border-radius: 8px;
  min-width: 50px;
  background-color: var(--green2);
  color: var(--white);
  outline: none;
  border: none;

  &:disabled {
    background-color: var(--basic3);
  }
}

.Value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}