.Root {
  gap: 24px;
  padding-block: 24px;
}

.Img{
  border-radius: 12px;
  width: 300px;
  height: 386px;
  overflow: hidden;
  object-fit: cover;
}

.Table {
  border-radius: 12px;
  overflow: hidden;
}