@import '/src/styles/mixins.scss';

.Root {
  gap: 24px;
  padding-block: 24px;


  @media (max-width: 767.99px) {
    @include flex(flex-start, flex-start);
    flex-direction: column;
  }
}

.Img{
  border-radius: 12px;
  width: 300px;
  height: 386px;
  overflow: hidden;
  object-fit: cover;
}

.Table {
  border-radius: 12px;
  overflow: hidden;
}