// Colors
:root {
  --basic1: #151515;
  --basic1-05: rgba(21, 21, 21, 0.54);
  --basic2: #575757;
  --basic3: #A9A9A9;
  --basic4: #D1D1D1;
  --basic5: #EBEBEB;
  --basic6:  #F5F5F5;

  --green1: #46760A;
  --green2: #6A983C;
  --green3: #92C064;


  --red1: #C7522D;
  --red2: #E6704B;
  --red3: #EB8D70;
  --red4: #F7C6B7;

  --blue1: #19B2B8;
  --blue2: #37D0D6;
  --blue3: #7CD0D3;
  --blue4: #B9E6E8;

  --white: #ffffff;

  --font-main: 'Gilroy'
}
