@import "styles/mixins";

.empty_page {
  @include flex-center(center);
  min-height: 400px;

  > div {
    text-align: center;


    h3 {
      margin-top: 24px;
      color: var(--basic2);
    }
  }
}