.Root {
  position: relative;
  margin-top: 100px;
  max-height: 400px;
  border-radius: 16px;
  overflow: hidden;

  @media (max-width: 677.98px) {
    max-height: 200px;
  }
}

.Content {
  border-radius: 16px;
  overflow: hidden;
  object-fit: cover;
}

.Premiere {
  position: absolute;
  z-index: 123;
  padding: 12px 48px;
  border-radius: 8px;
  color: var(--red1);
  background-color: var(--basic1);
  left: -20px;
  top: 60px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;


  @media (max-width: 677.98px) {
    top: 24px;
    padding: 8px 32px;
    size: 20px;
  }

  @media (max-width: 566.99px) {
    padding: 4px 28px;
    font-size: 16px;
  }

  @media (max-width: 479.99px) {
    font-size: 14px;
    padding: 4px 20px;
    padding-left: 24px;
  }
}